* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.educ {
    width: 100%;
}

.educCloseBtn,
.educOpenBtn {
    width: 35px;
}

.educCloseDiv, 
.educOpenDiv {
    border: 1px solid brown;
}

.educCloseDiv{
    width: 100%;
}

.educCloseDiv h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.educOpenDiv {
    display: grid;
    grid-template-rows: 40px 260px;
    gap: 10px;
}

.educOpenDiv h3 {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.educChildren {
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}